@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$green : #22A93E;
$blue : #253f7f;
$blue2 : #2C87EA;
$yellow : #dae63f;
$green2 : #00D622;
$orange : #FFC107;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none !important;
  list-style-type: none;
}

.btn-primary{
  background-color: $blue2 !important; 
}


body{
  background: #F4F4F4;
}

.color_blue{
  color: $green;
}

// Site head start ---

.Sitehead{
  background-color: $green;
  padding-top: 15px!important;
  padding-bottom: 15px!important;

  .site-head-info{
    justify-content: right;

    .search-button{
      border-right: 1px solid $yellow;
      font-size: 19px;
      padding-right: 1rem;
      cursor: pointer;
      position: relative;
      top: 3px;
      height: 23px;
      margin-right: 1em;
    }

    .socials{
      display: flex;
      gap: 20px;
      align-items: center;
      padding-right: 1rem;
      top: 3px;
      position: relative;
      border-right: 1px solid $yellow;
      svg{
        transform: scale(1.5);
        fill: #fff;
      }

      .youtube{
        &:hover{
          fill: #FF0000;
        }
      }

      .facebook{
        &:hover{
          fill: #109AF5;
        }
      }

      .instagram{
        &:hover{
          fill: #BC2E91;
        }
      }
      
    }
  }
}

// Site head end ---


// Navbar start ---

.nav_bar{
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #fff;

  .navbar-toggler-icon {
    background-image: url('./images/nav-icon.svg')
  }
  
  .navbar-toggler{
    border: 1px solid $green;

    &:focus{
      border: 1px solid $green;
      box-shadow: 0 0 6px $green !important;

    }
  }
  .nav{
    .nav-logo{
      width: 120px;
      cursor: pointer;
    }

    .nav-list{
      display: flex;
      padding-top: 16px;
      gap: 10px;

      .nav-item{

        .nav-links{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 0 0.5rem 0.5rem;
        }
      }
    }
  }
}

@media (max-width : 992px) {
  .nav-list{
    flex-direction: column ;
    text-align: center;
  }
}

// Navbar end ---


// Home start ---

.Home{
  .HomeHeader{
      
    .header{
      display: grid;
      grid-template-columns: 50% 50%;

      .header-box1{
        position: relative;
        background-image: url('./images/Home.webp');
        background-size: cover;
        background-position: 50%;
        width: 100%;
        background-repeat: no-repeat;
        min-height: 300px;
        overflow: hidden !important;

        .gradient-bg{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 300px;
          background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#f7f7f7);
        }
      }

      .btn-orange{
        background-color: #f7835f;
        border-color: #f7835f;
        color: #fff;
      }

      .header-box2{
        padding: 1rem 13rem 1rem 3rem;

        form{

          .form-row{
            display: flex;
            margin-right: -5px;
            margin-left: -5px;
            gap: 10px;
            margin-bottom: 10px;

            textarea{
              display: block;
              width: 100%;
              min-height: 100px;
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #cecece;
              border-radius: 0.25rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
          }

          .form-group{
            label{
              color: #666;
              font-weight: 700;
              font-size: 14px;
              display: inline-block;
              margin-bottom: 0.5rem;
            }

            .form-control{
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #cecece;
              border-radius: 0.25rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
          }
        }

        .form-title{
          font-size: 24px;
          font-weight: 700;
          color: green;
          text-transform: uppercase;

          &::after{
            content: " ";
            border-bottom: 2px solid #0af;
            width: 30px;
            display: block;
            margin: 10px 0;
          }
        }
      }
    }
  }

  .HomeSearch{
    padding: 0 80px;

    .search-input{
      display: flex;

      input{
        border: none;
        border-radius: 15px;
        background: #fff;
      }

      .search-btn{
        background: #fff;
        border: none;
        border: 1px solid transparent;

        svg{
          fill: #CECECE;
        }
      }
    }
  }

  .HomeInfo{
    padding: 0 80px;

    .card{

      .cards{
        padding: 20px;
      }

      .home_box{
        h2{
          font-size: 24px;
          font-weight: 700;
          color: green;
          text-transform: uppercase;

          &::after{
            content: " ";
            border-bottom: 2px solid #0af;
            width: 30px;
            display: block;
            margin: 10px 0;
          }
        }

        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          line-height: 1.7rem;
          font-size: 15px;
        }

        .more-btn{
          text-align: center;
        }
      }

      .home_box2{
        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          line-height: 1.7rem;
          font-size: 15px;
          padding: none;

          svg{
            margin-right: 15px;
            transform: scale(2);
            fill: green;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .HomeServices{
    padding: 48px 80px;
    .sevices-title{
      font-size: 24px;
      font-weight: 700;
      color: green;
      text-transform: uppercase;
      margin-bottom: 30px;
      
      &::after{
        content: " ";
        border-bottom: 2px solid #0af;
        width: 30px;
        display: block;
        margin: 10px auto 0;
      }
    }

    .service-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      .card{
        max-width: 300px;
        h2{
          font-size: 1.25rem;
          font-weight: 700;
          color: green;

          &::after{
            content: " ";
            border-bottom: 2px solid #0af;
            width: 30px;
            display: block;
            margin: 10px 0;
            margin: 10px auto 0;
          }
        }

        p{
          font-size: 14px;
          color: grey;
        }
      }
    }
  }

  .HomeFacts{
    padding: 30px 15px!important;
    background-color: #22A93E;
    color: #fff;
    .facts-list{
      .col{
        .br{
          border-right: 1px solid $yellow !important;
        }
        .fact{
          height: 123px;
          text-align: center;
          font-size: 16px;


          span{
            font-size: 50px;
            display: block;
          }
        }
      }
    }
  }

  .Hospitalinfo{
    padding: 48px  0;

    .card1{
      .card-body{
        img{
          width: 100%;
        }
      }
    }

    .card2{
      .cardtittle{
        font-size: 24px;
        font-weight: 700;
        color: $green;
        text-transform: uppercase;
        

        &::after{
          content: " ";
          border-bottom: 2px solid #0af;
          width: 30px;
          display: block;
          margin: 10px 0;
        }
      }

      p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        line-height: 1.7rem;
        font-size: 15px;
      }
    }

    .card3{
      background-image: url('./images/hospital-bg.jpg');
    }
  }

  .HomeOtherLinks{
    .card{

      .top{
        position: relative;
        height: 105px;
      }

      .overlay-tittle{
        opacity: 0.8;
        position: absolute;
        top: 0;
        z-index: 2;
        bottom: 0;
        height: 105px;
        width: 100%;
        background-color: #253f7f !important;

      }

     

      .bg-wrapper{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-image: url('./images/other-links1.webp');
      }
    }
  }
}


// Home end ---

