@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$green : #22A93E;
$blue : #253f7f;
$blue2 : #2C87EA;
$yellow : #dae63f;
$green2 : #00D622;
$orange : #FFC107;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none !important;
  list-style-type: none;

  @media (max-width : 767px) {
    .banner{
      display: none !important;
    }

    .HomeSearch{
      display: none;
    }
  }
}

.scrolltotop{
  opacity: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green2;
  color: hsla(0,0%,100%,.8);
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 32px;
  border-radius: 50%;
}

.fixxed{
  opacity: 1;
  transition: 1s;
  z-index: 99;
}

.btn-primary{
  background-color: $blue2 !important; 
}

.text-right{
  text-align: right !important;
}


body{
  background: #F4F4F4;
}

.color_blue{
  color: $green;
}

// Site head start ---

.Sitehead{
  background-color: $green;
  padding-top: 15px!important;
  padding-bottom: 15px!important;

  .site-head-info{
    justify-content: right;

    .search-button{
      border-right: 1px solid $yellow;
      font-size: 19px;
      padding-right: 1rem;
      cursor: pointer;
      position: relative;
      top: 3px;
      height: 23px;
      margin-right: 1em;
    }

    .socials{
      display: flex;
      gap: 20px;
      align-items: center;
      padding-right: 1rem;
      top: 3px;
      position: relative;
      border-right: 1px solid $yellow;
      svg{
        transform: scale(1.5);
        fill: #fff;
        transition: 0.3s;
      }

      .youtube{
        &:hover{
          fill: #FF0000;
        }
      }

      .facebook{
        &:hover{
          fill: #109AF5;
        }
      }

      .instagram{
        &:hover{
          fill: #BC2E91;
        }
      }
      
    }
  }
}

// Site head end ---


// Navbar start ---

.nav_bar{
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #fff;

  .navbar-toggler-icon {
    background-image: url('./images/nav-icon.svg')
  }
  
  .navbar-toggler{
    border: 1px solid $green;

    &:focus{
      border: 4px solid $green;
      box-shadow: none !important;
    }
  }
  .nav{
    .nav-logo{
      width: 120px;
      cursor: pointer;
    }

    .nav-list{
      display: flex;
      padding-top: 16px;
      gap: 10px;

      .nav-item{

        .nav-links{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 0 0.5rem 0.5rem;
        }
      }
    }
  }
}

@media (max-width : 992px) {
  .nav-list{
    flex-direction: column ;
    text-align: center;
  }
}

// Navbar end ---


// Home start ---

.Home{
  .HomeHeader{
      
    .header{
      display: grid;
      grid-template-columns: 50% 50%;

      .header-box1{
        position: relative;
        background-image: url('./images/Home.webp');
        background-size: cover;
        background-position: 50%;
        width: 100%;
        background-repeat: no-repeat;
        min-height: 300px;
        overflow: hidden !important;

        .gradient-bg{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 300px;
          background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#f7f7f7);
        }
      }

      .btn-orange{
        background-color: #f7835f;
        border-color: #f7835f;
        color: #fff;
      }

      .header-box2{
        padding: 1rem 7rem 1rem 3rem;

        form{

          .row{
    

            textarea{
              display: block;
              width: 100%;
              min-height: 100px;
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #cecece;
              border-radius: 0.25rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
          }

          .form-group{
            label{
              color: #666;
              font-weight: 700;
              font-size: 14px;
              display: inline-block;
              margin-bottom: 0.5rem;
            }

            .form-control{
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #cecece;
              border-radius: 0.25rem;
              transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
          }
        }

        .form-title{
          font-size: 24px;
          font-weight: 700;
          color: green;
          text-transform: uppercase;

          &::after{
            content: " ";
            border-bottom: 2px solid #0af;
            width: 30px;
            display: block;
            margin: 10px 0;
          }
        }
      }
    }

    .box1-btn{
      display: none;
      background-color: rgba(155,155,155,0.3);
      backdrop-filter: blur(5px);
      height: 100%;
    }

   

    @media (max-width : 766px) {
      .header{
        display: block;

        .gradient-bg{
          display: none;
        }
        .box1-btn{
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 100px 32px 50px;

          h3{
            color: $green;
          }
        }
      }

      .header-box2 {
        display: none;
      }
    }
  }

  .HomeSearch{
    padding: 0 20px;

    .search-input{
      display: flex;

      input{
        border: none;
        border-radius: 15px;
        background: #fff;
      }

      .search-btn{
        background: #fff;
        border: none;
        border: 1px solid transparent;

        svg{
          fill: #CECECE;
        }
      }
    }

    
  }

  .HomeInfo{
    padding: 0 20px;
    .card{

      .cards{
        padding: 20px;
      }

      .home_box{
        h2{
          font-size: 24px;
          font-weight: 700;
          color: green;
          text-transform: uppercase;

          &::after{
            content: " ";
            border-bottom: 2px solid #0af;
            width: 30px;
            display: block;
            margin: 10px 0;
          }
        }

        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          line-height: 1.7rem;
          font-size: 15px;
        }

        .more-btn{
          text-align: center;
        }
      }

      .home_box2{
        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          line-height: 1.7rem;
          font-size: 15px;
          padding: none;

          svg{
            margin-right: 15px;
            transform: scale(2);
            fill: $green;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .HomeServices{
    padding: 48px 0;
    .sevices-title{
      font-size: 24px;
      font-weight: 700;
      color: green;
      text-transform: uppercase;
      margin-bottom: 30px;
      
      &::after{
        content: " ";
        border-bottom: 2px solid #0af;
        width: 30px;
        display: block;
        margin: 10px auto 0;
      }
    }

  

    
    .card{
      width: 300px;
      margin: 10px;
      h2{
        font-size: 1.25rem;
        font-weight: 700;
        color: green;

        &::after{
          content: " ";
          border-bottom: 2px solid #0af;
          width: 30px;
          display: block;
          margin: 10px 0;
          margin: 10px auto 0;
        }
      }

      p{
        font-size: 14px;
        color: grey;
      }
    }
  }

  .HomeFacts{
    padding: 30px 20px!important;
    background-color: #22A93E;
    color: #fff;
    
    .facts-list{
      .col{
        .br{
          padding-left: 10px;
          border-right: 1px solid $yellow;
        }
        .fact{
          height: 123px;
          text-align: center;
          font-size: 16px;


          span{
            font-size: 50px;
            display: block;
          }
        }
      }
    }

    @media (max-width : 767px) {
      .col{
        .br{
          border-right: none !important;
        }
      }
    }
  }

  .Hospitalinfo{
    padding: 48px  0;

    .card1{
      .card-body{
        img{
          width: 100%;
        }
      }
    }

    .card2{
      .cardtittle{
        font-size: 24px;
        font-weight: 700;
        color: $green;
        text-transform: uppercase;
        

        &::after{
          content: " ";
          border-bottom: 2px solid #0af;
          width: 30px;
          display: block;
          margin: 10px 0;
        }
      }

      p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        line-height: 1.7rem;
        font-size: 15px;
      }
    }

    .card3{
      background-image: url('./images/hospital-bg.jpg');
    }
  }

  .HomeOtherLinks{
    .card{
      position: relative;

      .bg2{
        background-image: url('./images/other-links2.webp');
      }

      .bg1{
        background-image: url('./images/other-links1.webp');

      }
      
      .bg-wrapper{
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        height: 105px;
      }

      .overlay-tittle{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.4);
      }

      .blur{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 105px;
        background: rgba(30, 145, 1, 0.623);
        border-radius: 5px 0 0 5px;
      }

      h3{
        position: absolute;
        opacity: .8;
        right: 30px;
        top: 35px;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        z-index: 3;
        // height: 100%;
        // width: 100%;
      }

      .card-body{
        border-bottom: 1px solid #eee;
        .col-lg-8{
          p{
            font-size: 14px;
          }
        }

        .col{
          text-align: right !important;
        }
      }
    }

    .logo-info{
      .card-body{
        img{
          display: block;
          margin: 0 auto;
          width: 60%;
        }

        a{
          color: $green;
        }

        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          line-height: 1.7rem;
          font-size: 15px;
        }
      }
    }
  }
  .HomeGroup{
    h2{
      font-size: 24px;
      font-weight: 700;
      color: $green;
      text-transform: uppercase;

      &::after{
        content: " ";
        border-bottom: 2px solid #0af;
        width: 30px;
        display: block;
        margin: 10px 0;
      }
    }

    p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      line-height: 1.7rem;
      font-size: 15px;
    }
  }
}

// Home end ---


// About start ---

.About{
  aside{
    .with-shadow{
      .action1{
        background: $green;
        color: #fff;
      }
    }

    .banner{
      img{
        width: 100%;
      }
    }
  }

  


  .card{
    .cardbody{
      padding: 2rem 2.5rem;

      h2{
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 1.5rem;
        color: $green;

        &::after{
          content: " ";
          border-bottom: 2px solid #0af;
          width: 30px;
          display: block;
          margin: 10px 0;
        }
      }

      h3{
        font-size: 24px;
        margin-bottom: 1rem;
        color: $green;
      }
    }
  }
}

// About end ---


// Doctors start ---

.Doctors{
  .DoctorsTitle{
    ul{
      display: flex;
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      padding: 0.75rem 0;
      margin-bottom: 0;
      list-style: none;
      background-color: transparent;
      border-radius: 0.25rem;
      li{
        font-size: 15px;

        a{
          color: $green;
        }
      }

      .list-item2{
        &::before{
          display: inline-block;
          padding-right: 0.5rem;
          color: #6c757d;
          content: "/";
        }
      }
    }
  }

  .DoctorsCards{
    background: #fff;

    .doctors-cards{
      .card{
        background: #E9ECEF;

        .card-body{
          background: $green;
        }
      }
    }
  }
}

// Doctors end ---

// Treatment start ---
.Treatment{
  .DoctorsTitle{
    ul{
      display: flex;
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      padding: 0.75rem 0;
      margin-bottom: 0;
      list-style: none;
      background-color: transparent;
      border-radius: 0.25rem;
      li{
        font-size: 15px;

        a{
          color: $green;
        }
      }

      .list-item2{
        &::before{
          display: inline-block;
          padding-right: 0.5rem;
          color: #6c757d;
          content: "/";
        }
      }
    }
  }
  .TreatmentCards{
    background: #fff;
    .card{
      img{
        width: 100%;
      }
    }
    .card-body{
      background: $green;
    }
  }
}

// Treatment end ---


// Technologies start ---

.Technologies{
  .DoctorsTitle{
    ul{
      display: flex;
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      padding: 0.75rem 0;
      margin-bottom: 0;
      list-style: none;
      background-color: transparent;
      border-radius: 0.25rem;
      li{
        font-size: 15px;

        a{
          color: $green;
        }
      }

      .list-item2{
        &::before{
          display: inline-block;
          padding-right: 0.5rem;
          color: #6c757d;
          content: "/";
        }
      }
    }
  }

  .TechnologiesLinks{
    background: #fff;

    .row{
      .col-lg-6{
        a{
          background: #f2f2f2;
          color: $green;
          padding: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg{
            color: $green;
          }
        }
      }
    }
  }
}

// Technologies end ---


// News start ---

.News{
  .row{
    .list-group{
      .acctive{
        background: $green;
        color: #fff;
      }

    }
    .col-md-8{
      h1{
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 1.5rem;
        font-weight: 700;
        color: $green;

        &::after{
          content: " ";
          border-bottom: 2px solid #0af;
          width: 30px;
          display: block;
          margin: 10px 0;
        }
      }
    }
  }
}

// News end ---

.Form{
  .header-box2{

    form{

      .row{
        

        textarea{
          display: block;
          width: 100%;
          min-height: 100px;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #cecece;
          border-radius: 0.25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
      }

      .form-group{
        label{
          color: #666;
          font-weight: 700;
          font-size: 14px;
          display: inline-block;
          margin-bottom: 0.5rem;
        }

        .form-control{
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #cecece;
          border-radius: 0.25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
      }
    }

    .form-title{
      font-size: 24px;
      font-weight: 700;
      color: green;
      text-transform: uppercase;

      &::after{
        content: " ";
        border-bottom: 2px solid #0af;
        width: 30px;
        display: block;
        margin: 10px 0;
      }
    }
  }
}

// Contact start ---

.Contact{
  .list-group{
    .acctive{
      background: $green;
      color: #fff;
    }
  }

  @media (max-width : 767px) {
    aside{
      .banner{
        display: none;
      }
    }

    .col-md-8{
      padding: 0 20px !important;
    }
  }
}

// Contact end ---


// Footer start ---

.Footer{
  background: $green;
  
  h3{
    color: #fff;
    line-height: 30px;
  }

  .list-unstyled{
    li{
      a{
        color: #fff;
        line-height: 30px;
      }
    }
  }

  
}

// Footer end ---

